version: "{branch}-ci-{build}"
image: Visual Studio 2017

branches:
  only:
  - master

environment:
  matrix:
  - build: msvc
    platform: x86
    CMAKEFILE: "Visual Studio 15"
  - build: msvc
    platform: x64
    CMAKEFILE: "Visual Studio 15 Win64"
  - build: g++
    platform: x86
    CMAKEFILE: "Ninja"
  - build: g++
    platform: x64
    CMAKEFILE: "Ninja"
    
install:
- choco install opencppcoverage
- choco install codecov
- if "%platform%"=="x86" set MSYSTEM=mingw32
- if "%platform%"=="x64" set MSYSTEM=mingw64;C:\Projects\mipt-mips\mips-linux-gnu\bin;%PATH%
- set PATH=C:\projects\deps\ninja;C:\msys64\%MSYSTEM%;C:\msys64\%MSYSTEM%\bin;C:\msys64\usr\bin\;C:\Libraries\boost_1_67_0;C:\Program Files\OpenCppCoverage;%PATH%

before_build:
- git submodule update --init
- call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\Tools\VsDevCmd.bat" -arch=%platform%
- if "%platform%"=="x86" set platform=Win32 # oh dear

build_script:
- mkdir build
- cd build
- cmake ../simulator -G "%CMAKEFILE%"
#- if not "%build%"=="msvc" bash -lc "cd /c/projects/mipt-mips/build; ninja mipt-mips unit-tests cachesim"
#- if "%build%"=="msvc" MSBuild .\mipt-mips.sln /p:Configuration=Release /p:Platform=%platform% /nologo /m /verbosity:minimal
#- if "%build%"=="msvc" move Release\*.exe .

test_script:
#- .\mipt-mips -b ..\tests\mips\mips-fib.bin -n 1000000 --mars
#- .\cachesim -t ..\tests\mem_trace.json -s 32768 -w 32
#- ctest -C Release --verbose
- if "%build%"=="msvc" MSBuild .\mipt-mips.sln /p:Configuration=Debug /p:Platform=%platform% /nologo /m /verbosity:minimal
- if "%build%"=="msvc" OpenCppCoverage.exe --export_type cobertura:coverage.xml --cover_children --modules "*.exe" -- ctest -C Debug -V
- if "%build%"=="msvc" codecov -f coverage.xml --root %APPVEYOR_BUILD_FOLDER%
