---
Checks: '*,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-llvm-header-guard,-llvm-include-order,-readability-redundant-declaration,-cert-err58-cpp,-cppcoreguidelines-pro-bounds-constant-array-index,-android-cloexec-fopen,-.*-braces-around-statements,-fuchsia-default-arguments,-fuchsia-overloaded-operator,-hicpp-no-array-decay'
