---
Checks: '*,-*braces-around-statements,-cppcoreguidelines-pro-type-union-access,-llvm-header-guard,-llvm-include-order,-readability-redundant-declaration,-cert-err58-cpp,-fuchsia-default-arguments,-fuchsia-overloaded-operator'
