---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -clang-analyzer-osx.*,
  -concurrency-*,
  -google-objc-*,
  -linuxkernel-*,
  -llvmlibc-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -zircon-*,
  -*-braces-around-statements,
  -*-magic-numbers,
  -*-non-private-member-variables-in-classes,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -fuchsia-statically-constructed-objects,
  -cppcoreguidelines-macro-usage,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -llvm-header-guard,
  -readability-function-cognitive-complexity

CheckOptions:
  - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value: 1
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
