# Executables #
#####################
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Makefiles and License
!LICENSE
!*/Makefile
!*/makefile

# Compiled source #
######################
*.o
*.d
