[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "binutils"]
	path = binutils
	url = https://github.com/bminor/binutils-gdb.git
[submodule "libelf"]
	path = libelf
	url = https://github.com/MIPT-ILab/libelf.git
