notifications:
  email: false

language: cpp
sudo: false

osx_image: xcode9.1

branches:
  only:
  - master

compiler:
  - gcc
  - clang
os:
  - linux
  - osx

matrix:
  exclude:
    - os: osx
      compiler: gcc

script:
  - cd $TRAVIS_BUILD_DIR/simulator
  - make mipt-mips
  - cd $TRAVIS_BUILD_DIR/traces
  - make MIPS_AS=$TRAVIS_BUILD_DIR/binutils/cross/mips/bin/mipsel-unknown-linux-gnu-as MIPS_LD=$TRAVIS_BUILD_DIR/binutils/cross/mips/bin/mipsel-unknown-linux-gnu-ld
  - cd $TRAVIS_BUILD_DIR/simulator
  - make test
# Run Clang-Tidy
  - if [ $CXX == clang++-5.0 ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then make TIDY=clang-tidy-5.0 tidy-check; fi
# Check simulation spped
  - ./tools/simfreq.sh

addons:
  apt:
    sources:
    - boost-latest
    - ubuntu-toolchain-r-test
    - llvm-toolchain-trusty-5.0
    packages:
    - g++-7
    - clang-5.0
    - clang-tidy-5.0
    - llvm-5.0-dev
    - libelf-dev
    - libboost1.55-all-dev
    - texinfo
    - zlib1g-dev

install:
  - if [ $CXX == g++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then CXX=g++-7; fi
  - if [ $CXX == clang++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then CXX=clang++-5.0; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install libelf zlib; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then export CPATH=$CPATH:/usr/local/Cellar/libelf/0.8.13_1/include/libelf; fi
# Infreqstall GNU Binutils
  - cd $TRAVIS_BUILD_DIR/binutils
  - ./configure --target=mipsel-unknown-linux-gnu --prefix=$TRAVIS_BUILD_DIR/binutils/cross/mips --disable-gdb --disable-gprof --with-system-zlib > /dev/null
  - make > /dev/null
  - make install > /dev/null
  - chmod +x $TRAVIS_BUILD_DIR/simulator/tools/*.sh
