notifications:
  email: false

language: cpp
dist: bionic
osx_image: xcode10.1

branches:
  only:
  - master

compiler:
  - gcc
  - clang

os:
  - linux
  - osx

arch:
  - amd64
  - arm64

matrix:
  exclude:
    - os: osx
      compiler: gcc
    - os: osx
      arch: arm64

addons:
  apt:
    sources:
    - sourceline: "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main"
      key_url: "https://apt.llvm.org/llvm-snapshot.gpg.key"
    update: true
    packages:
    - cmake
    - libboost-dev
    - ninja-build
    - python3
    - nodejs
  homebrew:
    packages:
    - ninja
    update: true

install:
# Download GDB
  - wget http://ftp.gnu.org/gnu/gdb/gdb-8.3.tar.gz
  - tar -xzf gdb-8.3.tar.gz
  - pip install --user cpp-coveralls

before_script:
  - cd $TRAVIS_BUILD_DIR/simulator         && mkdir debug release
  - cd $TRAVIS_BUILD_DIR/simulator/release && cmake .. -DCMAKE_BUILD_TYPE=Release -DGDB_SOURCE_PATH=$TRAVIS_BUILD_DIR/gdb-8.3 -G "Ninja"
  - |
    if [ $TRAVIS_CPU_ARCH == amd64 ]; then
        cd $TRAVIS_BUILD_DIR/visualizer       && npm install;
    fi
  - cd $TRAVIS_BUILD_DIR/gdb-8.3              && ./configure --target=mipsel-unknown-linux --with-system-zlib --with-python=no
  - cd $TRAVIS_BUILD_DIR/gdb-8.3              && make configure-gdb CFLAGS='-w -O0' CXXFLAGS='-w -O0' MAKEINFO=true > /dev/null
  - cd $TRAVIS_BUILD_DIR/gdb-8.3/opcodes      && ./configure --target=mipsel-unknown-linux && make libopcodes.a
  - cd $TRAVIS_BUILD_DIR/gdb-8.3/libdecnumber && ./configure && make libdecnumber.a
  - cd $TRAVIS_BUILD_DIR/gdb-8.3/readline     && ./configure && make libreadline.a

script:
  - cd $TRAVIS_BUILD_DIR/simulator/release
  - ninja mipt-mips unit-tests
  - ctest --verbose
  - ./mipt-mips -b $TRAVIS_BUILD_DIR/tests/mips-fib.bin -n 1000000 --mars
  # TODO (pkryukov): run NPM on ARM
  - |
    if [ $TRAVIS_CPU_ARCH == amd64 ]; then
        cd $TRAVIS_BUILD_DIR/visualizer
        npm run test
    fi
  # TODO (pkryukov): GDB build hangs on ARM...
  - |
    if [ $TRAVIS_CPU_ARCH == amd64 ]; then
        cd $TRAVIS_BUILD_DIR/gdb-8.3/gdb
        make gdb CFLAGS='-w -O0' CXXFLAGS='-w -O0' MAKEINFO=true > /dev/null
        ./gdb -x $TRAVIS_BUILD_DIR/tests/test.gdb --args $TRAVIS_BUILD_DIR/tests/mips-tt.bin
    fi

after_success:
  - |
    if [ $CXX == clang++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then
        sudo apt-get install clang-tidy-9 --allow-unauthenticated
        cd $TRAVIS_BUILD_DIR/simulator/debug
        cmake .. -DCMAKE_BUILD_TYPE=Release
        run-clang-tidy-9.py -header-filter='.*' 2> /dev/null
    fi
  - |
    if [ $CXX == g++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then
        cd $TRAVIS_BUILD_DIR/simulator/debug
        cmake .. -DCMAKE_BUILD_TYPE=Debug -DENABLE_COVERAGE=1 -G "Ninja"
        ninja unit-tests && ctest
        bash <(curl -s https://codecov.io/bash) > /dev/null || echo "Codecov did not collect coverage reports"
        coveralls --exclude external --exclude cen64 --exclude gdb --gcov-options '\-lp'
        cd $TRAVIS_BUILD_DIR/visualizer
        if [ $TRAVIS_CPU_ARCH == amd64 ]; then npx nyc --reporter=lcov npm test && npx codecov; fi
    fi
