notifications:
  email: false

language: cpp
sudo: false

compiler:
  - gcc
  - clang
os:
  - linux
  - osx

matrix:
  exclude:
    - os: osx
      compiler: gcc

script: cd simulator; make mipt-mips disasm test

addons:
  apt:
    sources:
    - boost-latest
    - ubuntu-toolchain-r-test
    - llvm-toolchain-trusty-4.0
    packages:
    - g++-6
    - clang-4.0
    - llvm-4.0-dev
    - libelf-dev
    - libboost1.55-all-dev

install: 
  - if [ $CXX == g++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then CXX=g++-6; fi
  - if [ $CXX == clang++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then CXX=clang++-4.0; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install libelf; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then export CPATH=$CPATH:/usr/local/Cellar/libelf/0.8.13_1/include/libelf; fi
  - $CXX --version
