notifications:
  email: false

language: cpp
sudo: true

osx_image: xcode9.1

branches:
  only:
  - master

compiler:
  - gcc
  - clang
os:
  - linux
  - osx

git:
  submodules: false

matrix:
  exclude:
    - os: osx
      compiler: gcc

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-trusty-6.0
    - sourceline: deb http://www.emdebian.org/debian/ squeeze main
    update: true
    packages:
    - g++-8
    - clang-tidy-6.0
    - libelf-dev
    - libboost-program-options1.54-dev

install:
  - export GTEST_COLOR=1
  - if [ $CXX == g++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then CXX=g++-8; fi
  - cd $TRAVIS_BUILD_DIR
  - git submodule update --init
# Install OS X packages
  - |
    if [ "$TRAVIS_OS_NAME" == "osx" ]; then
        brew install libelf zlib
    fi
# Download and build binutils on OS X
  - |
    if [ "$TRAVIS_OS_NAME" == "osx" ]; then
        mv get-binutils.sh traces
        bash ./traces/get-binutils.sh $TRAVIS_BUILD_DIR/binutils/cross/mips
        export PATH=$PATH:$TRAVIS_BUILD_DIR/binutils/cross/mips/bin
    fi
# Download binutils on Linux
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
        sudo apt-get install binutils-mips-linux-gnu --allow-unauthenticated
    fi

script:
# Build traces
  - cd traces && make
# Build and test simulator
  - mkdir $TRAVIS_BUILD_DIR/simulator/build && cd $TRAVIS_BUILD_DIR/simulator/build
  - cmake ..
  - make
  - ctest --verbose
# Run Clang-Tidy
  - if [ $CXX == clang++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then run-clang-tidy-6.0.py -header-filter='.*'; fi
# Run a trace to see simulation frequency
  - ./mipt-mips -b $TRAVIS_BUILD_DIR/traces/fib.out -n 1000000
