notifications:
  email: false

language: cpp
sudo: false

osx_image: xcode9.1

branches:
  only:
  - master

compiler:
  - gcc
  - clang
os:
  - linux
  - osx

matrix:
  exclude:
    - os: osx
      compiler: gcc

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-trusty-5.0
    packages:
    - g++-7
    - clang-tidy-5.0
    - libelf-dev
    - libboost-program-options1.54-dev

install:
  - if [ $CXX == g++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then CXX=g++-7; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install libelf zlib; fi
# Infreqstall GNU Binutils
  - cd $TRAVIS_BUILD_DIR/binutils
  - ./configure --target=mipsel-unknown-linux-gnu --prefix=$TRAVIS_BUILD_DIR/binutils/cross/mips --disable-gdb --disable-gprof --with-system-zlib > /dev/null
  - make all install MAKEINFO=true > /dev/null
  - chmod +x $TRAVIS_BUILD_DIR/simulator/tools/*.sh

script:
  - cd $TRAVIS_BUILD_DIR/traces
  - make MIPS_AS=$TRAVIS_BUILD_DIR/binutils/cross/mips/bin/mipsel-unknown-linux-gnu-as MIPS_LD=$TRAVIS_BUILD_DIR/binutils/cross/mips/bin/mipsel-unknown-linux-gnu-ld
  - mkdir $TRAVIS_BUILD_DIR/simulator/build && cd $TRAVIS_BUILD_DIR/simulator/build
  - cmake ..
  - make
  - ctest
# Run Clang-Tidy
  - if [ $CXX == clang++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then $TRAVIS_BUILD_DIR/simulator/tools/tidy-check.sh; fi
# Check simulation spped
  - $TRAVIS_BUILD_DIR/simulator/tools/simfreq.sh
