notifications:
  email: false

language: cpp
dist: bionic
osx_image: xcode10.1

branches:
  only:
  - master

compiler:
  - gcc
  - clang

os:
  - linux
  - osx

arch:
  - amd64
  - arm64

matrix:
  exclude:
    - os: osx
      compiler: gcc
    - os: osx
      arch: arm64

addons:
  apt:
    sources:
    - sourceline: "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main"
      key_url: "https://apt.llvm.org/llvm-snapshot.gpg.key"
    update: true
    packages:
    - cmake
    - libboost-dev
    - ninja-build
    - python3
    - nodejs
  homebrew:
    packages:
    - ninja
    update: true

install:
# Download GDB
  - export GDB_DIR=$TRAVIS_BUILD_DIR/binutils-gdb
  - git clone --branch gdb-9-branch git://sourceware.org/git/binutils-gdb.git --depth 1

before_script:
  - cd $TRAVIS_BUILD_DIR/simulator         && mkdir debug release
  - cd $TRAVIS_BUILD_DIR/simulator/release && cmake .. -DCMAKE_BUILD_TYPE=Release -DGDB_SOURCE_PATH=$GDB_DIR -G "Ninja"
  - |
    if [ $TRAVIS_CPU_ARCH == amd64 ]; then
        cd $TRAVIS_BUILD_DIR/visualizer       && npm install;
    fi
  - cd $GDB_DIR              && ./configure --target=mipsel-unknown-linux --with-system-zlib --with-python=no
  - cd $GDB_DIR              && make configure-gdb CFLAGS='-w -O0' CXXFLAGS='-w -O0' MAKEINFO=true > /dev/null
  - cd $GDB_DIR/opcodes      && ./configure --target=mipsel-unknown-linux && make libopcodes.a
  - cd $GDB_DIR/libdecnumber && ./configure && make libdecnumber.a
  - cd $GDB_DIR/readline     && ./configure && cd readline && make libreadline.a
  - cd $GDB_DIR/libctf       && ./configure && make libctf.la

script:
  - cd $TRAVIS_BUILD_DIR/simulator/release
  - ninja mipt-mips unit-tests
  - ctest --verbose
  - ./mipt-mips -b $TRAVIS_BUILD_DIR/tests/mips-fib.bin -n 1000000 --mars
  # TODO (pkryukov): run NPM on ARM
  - |
    if [ $TRAVIS_CPU_ARCH == amd64 ]; then
        cd $TRAVIS_BUILD_DIR/visualizer
        npm run test
    fi
  # TODO (pkryukov): GDB build hangs on ARM...
  - |
    if [ $TRAVIS_CPU_ARCH == amd64 ]; then
        cd $GDB_DIR/gdb
        make gdb CFLAGS='-w -O0' CXXFLAGS='-w -O0' MAKEINFO=true > /dev/null
        ./gdb -x $TRAVIS_BUILD_DIR/tests/test.gdb --args $TRAVIS_BUILD_DIR/tests/mips-tt.bin
    fi

after_success:
  - |
    if [ $CXX == clang++ ] && [ "$TRAVIS_OS_NAME" == "linux" ] && [ $TRAVIS_CPU_ARCH == amd64 ]; then
        # Install GCC 8 to have better constexpr in libstdc++
        sudo apt-get install clang-tidy-9 g++-8
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 40
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 40
        clang-tidy-9 --version
        cd $TRAVIS_BUILD_DIR/simulator/debug
        cmake .. -DCMAKE_BUILD_TYPE=Release
        run-clang-tidy-9.py -header-filter='.*' 2> /dev/null
    fi
  - |
    if [ $CXX == g++ ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then
        cd $TRAVIS_BUILD_DIR/simulator/debug
        cmake .. -DCMAKE_BUILD_TYPE=Debug -DENABLE_COVERAGE=1 -G "Ninja"
        ninja unit-tests && ctest
        bash <(curl -s https://codecov.io/bash) > /dev/null || echo "Codecov did not collect coverage reports"
        cd $TRAVIS_BUILD_DIR/visualizer
        if [ $TRAVIS_CPU_ARCH == amd64 ]; then npx nyc --reporter=lcov npm test && npx codecov; fi
    fi
