language: cpp
sudo: required
compiler:
  - gcc
  - clang
os: linux
script: cd simulator; make mipt-mips disasm test

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.9
    - g++-6
    - libelf-dev
    - libboost-all-dev

install: 
  - if [ $CXX == g++ ]; then sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90; fi
