image: Visual Studio 2015

environment:
  matrix:
  - build: mingw
    platform: x86
    MINGW_ROOT: C:\msys64\mingw32
    MINGW_ARCH: i686		
    MSYSTEM: MINGW32
  - build: msvc
    BOOST_ROOT: C:\Libraries\boost_1_59_0

before_build:
- cmd: set PATH=%MINGW_ROOT%;%MINGW_ROOT%\bin;C:\msys64\usr\bin\;%PATH%
- cmd: bash -lc "pacman --needed --noconfirm -S mingw-w64-i686-libelf"
- cmd: if "%build%"=="mingw" bash -lc "pacman --needed --noconfirm -S mingw-w64-i686-boost
- cmd: if "%build%"=="msvc"  call "%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM%
- cmd: if "%build%"=="msvc"  set LIBRARY=%BOOST_ROOT%\lib32-msvc-14.0;%LIBRARY%
- cmd: if "%build%"=="msvc"  set INCLUDE=%BOOST_ROOT%;C:/msys64/mingw32/include/libelf;%INCLUDE%
- cmd: dir %BOOST_ROOT%\lib32-msvc-14.0

build_script:
- cmd: if "%build%"=="mingw" bash -lc "cd /c/projects/mipt-mips/simulator/; make LIBELF_INCL=/c/msys64/mingw32/include/libelf BOOST_INCL=/c/msys64/mingw32/include/boost BOOST_POSTFIX=-mt mipt-mips disasm"
- cmd: if "%build%"=="msvc"  cd simulator & call build.cmd

test_script:
- cmd: if "%build%"=="mingw" bash -lc "cd /c/projects/mipt-mips/simulator/; make LIBELF_INCL=/c/msys64/mingw32/include/libelf BOOST_INCL=/c/msys64/mingw32/include/boost BOOST_POSTFIX=-mt test"
