version: "{branch}-ci-{build}"
image: Visual Studio 2015

environment:
  matrix:
  - build: g++
    platform: x86
    MINGW_ROOT: C:\msys64\mingw32
    BOOST_ROOT: C:\msys64\mingw32\include\boost
    MINGW_ARCH: i686
    MSYSTEM: MINGW32
  - build: clang++
    platform: x64
    MINGW_ROOT: C:\msys64\mingw64
    BOOST_ROOT: C:\msys64\mingw64\include\boost
    MINGW_ARCH: x86_64
    MSYSTEM: MINGW64
  - build: g++
    platform: x64
    MINGW_ROOT: C:\msys64\mingw64
    BOOST_ROOT: C:\msys64\mingw64\include\boost
    MINGW_ARCH: x86_64
    MSYSTEM: MINGW64
  - build: msvc
    platform: x86
    MINGW_ROOT: C:\msys64\mingw32
    BOOST_ROOT: C:\Libraries\boost_1_59_0
    BOOST_LIBRARYDIR: C:\Libraries\boost_1_59_0\lib32-msvc-14.0
    MINGW_ARCH: i686
#  - build: msvc
#    platform: x64
#    MINGW_ROOT: C:\msys64\mingw64
#    BOOST_ROOT: C:\Libraries\boost_1_59_0
#    BOOST_LIBRARYDIR: C:\Libraries\boost_1_59_0\lib64-msvc-14.0
#    MINGW_ARCH: x86_64

before_build:
- cmd: set PATH=%MINGW_ROOT%;%MINGW_ROOT%\bin;C:\msys64\usr\bin\;"C:\Program Files\LLVM\bin";%PATH%
- cmd: bash -lc "pacman --needed --noconfirm -S mingw-w64-%MINGW_ARCH%-libelf"
- cmd: bash -lc "pacman --needed --noconfirm -S mingw-w64-%MINGW_ARCH%-boost
- cmd: if "%build%"=="msvc"  call "%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM%
- cmd: set LIB=%BOOST_LIBRARYDIR%;%LIB%
- cmd: set INCLUDE=%BOOST_ROOT%;%MINGW_ROOT%/include/libelf;%INCLUDE%
- cmd: set C_INCLUDE_PATH=%MINGW_ROOT%/include;%MINGW_ROOT%/include/libelf;%C_INCLUDE_PATH%
- cmd: set CPLUS_INCLUDE_PATH=%MINGW_ROOT%/include/c++/6.3.0;%MINGW_ROOT%/include/c++/6.3.0/%MINGW_ARCH%-w64-mingw32;%BOOST_ROOT%;%CPLUS_INCLUDE_PATH%
- cmd: if not "%build%"=="msvc" set CXX=%build%

build_script:
- cmd: if not "%build%"=="msvc" bash -lc "cd /c/projects/mipt-mips/simulator/; make BOOST_POSTFIX=-mt mipt-mips disasm"
- cmd: if "%build%"=="msvc"  cd simulator & call build.cmd

test_script:
- cmd: if not "%build%"=="msvc" bash -lc "cd /c/projects/mipt-mips/simulator/; make BOOST_POSTFIX=-mt test"
