image: Visual Studio 2015

environment:
  matrix:
  - build: mingw
    platform: x86
    MINGW_ARCH: i686
    MSYSTEM: MINGW32
    MINGW_ROOT: C:\msys64\mingw32
    BOOST_ROOT: C:\msys64\mingw32

before_build:
- set PATH=%MINGW_ROOT%;%MINGW_ROOT%\bin;C:\msys64\usr\bin\;%PATH%
- bash -lc "pacman --needed --noconfirm -S mingw-w64-%MINGW_ARCH%-libelf
- bash -lc "pacman --needed --noconfirm -S mingw-w64-%MINGW_ARCH%-boost

build_script:
- dir %BOOST_ROOT%\lib
- bash -lc "cd /c/projects/mipt-mips/simulator/; make LIBELF_INCL=/c/msys64/mingw32/include/libelf BOOST_INCL=/c/msys64/mingw32/include/boost BOOST_POSTFIX=-mt mipt-mips disasm test"
